<!-- Start Header Area -->
<header class="header-area">

    <!-- Start Top Header -->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7">
                    <ul class="header-left-content">
                        <li>
                            <i class="bx bx-envelope"></i>
                            <a href="mailto:sauveteurdudunkerquois@gmail.com">sauveteurdudunkerquois@gmail.com</a>
                        </li>
                        <li>
                            <i class="bx bx-location-plus"></i>
                            471 avenue des Bancs de Flandres, Dunkirk, France
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-5">
                    <div class="header-right-content">

                        <div *ngIf="!authService.isLoggedIn">
                            <div class="log-in">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Se connecter
                                </a>
                            </div>

                            <div class="register">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop-2">
                                    S'inscrire
                                </a>
                            </div>

                        </div>

                        <div *ngIf="authService.isLoggedIn">
                            <ul class="language-area">
                                <li class="language-item-top">
                                    <a href="#" class="language-bar">
                                        <span>Langues</span>
                                        <i class="bx bx-chevron-down"></i>
                                    </a>

                                    <ul class="language-item-bottom">
                                        <li class="language-item">
                                            <a href="#" class="language-link">
                                                <img src="assets/img/language/english.png" alt="Image">
                                                English
                                            </a>
                                        </li>
                                        <li class="language-item">
                                            <a href="#" class="language-link">
                                                <img src="assets/img/language/arab.png" alt="Image">
                                                العربيّة
                                            </a>
                                        </li>
                                        <li class="language-item">
                                            <a href="#" class="language-link">
                                                <img src="assets/img/language/germany.png" alt="Image">
                                                Deutsch
                                            </a>
                                        </li>
                                        <li class="language-item">
                                            <a href="#" class="language-link">
                                                <img src="assets/img/language/portugal.png" alt="Image">
                                                󠁥󠁮󠁧󠁿Português
                                            </a>
                                        </li>
                                        <li class="language-item">
                                            <a href="#" class="language-link">
                                                <img src="assets/img/language/china.png" alt="Image">
                                                简体中文
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="log-in">
                                <a href="#">
                                    Mon compte
                                </a>
                            </div>
                            <div class="register">
                                <a href="#" (click)="authService.SignOut()">
                                    Déconnexion
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Top Header -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="mobile-nav">
            <div class="container-fluid">
                <div class="mobile-menu">
                    <div class="logo">
                        <a routerLink="/"><img style="max-width: 50px" src="assets/img/logo.svg" alt="logo"> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" routerLink="/" style="align-items: center;display: flex;text-align: center;font-size: 1.2rem;font-weight: bold;"><img style="max-width: 90px; margin-right: 1em" src="assets/img/logo.svg" alt="logo"> <div>Sauveteurs du <br/> Dunkerquois</div></a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav m-auto">

                            <li class="nav-item">
                                <a routerLink="/" class="nav-link"
                                   routerLinkActive="active"
                                   [routerLinkActiveOptions]="{exact: true}">Accueil</a>
                            </li>


                            <li class="nav-item">
                                <a routerLink="/sauveteurs" class="nav-link"
                                   routerLinkActive="active"
                                   [routerLinkActiveOptions]="{exact: true}">Sauveteurs</a>
                            </li>


                            <li class="nav-item">
                                <a routerLink="/sauvetages" class="nav-link"
                                   routerLinkActive="active"
                                   [routerLinkActiveOptions]="{exact: true}">Sauvetages</a>
                            </li>


                            <li class="nav-item">
                                <a routerLink="/contact" class="nav-link"
                                   routerLinkActive="active"
                                   [routerLinkActiveOptions]="{exact: true}">Contact</a>
                            </li>
                        </ul>

                        <div class="others-option">
                  <!--          <form class="search-box">
                                <input type="text" name="Search" placeholder="Terre en vue.." class="form-control">
                                <button type="submit" class="search-btn"><i class="bx bx-search"></i></button>
                                <button type="submit" class="close-btn"><i class="bx bx-x"></i></button>
                            </form>-->

                            <!-- <div class="call-us">
                                <i class="bx bx-phone-call"></i>
                                <a href="tel:+1-(514)-312-5678">+1 (514) 312-5678</a>
                            </div> -->

                    <!--        <div class="get-quote">
                                <a routerLink="/contact-us" class="default-btn">Contact</a>
                            </div>-->
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-option justify-content-center d-flex align-items-center">
                            <div class="get-quote">
                                <a routerLink="/contact-us" class="default-btn">Contact</a>
                            </div>

                            <form class="search-box">
                                <input type="text" name="Search" placeholder="Terre en vue.." class="form-control">
                                <button type="submit" class="search-btn"><i class="bx bx-search"></i></button>
                                <button type="submit" class="close-btn"><i class="bx bx-x"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

</header>
<!-- End Header Area -->
