<!-- Start Future Area -->
<section class="future-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Notre fierté</span>
            <h2>"Si un homme tombe à la baille, tu vas le chercher. Il n’y a, à cela, rien d'exceptionnel."</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-future-box">
                    <img class="mb-20" src="../../../../../assets/svg/ico-book.svg" alt="icone d'un livre">
                    <h3>+ 1000 pages</h3>
                    <p>Ce site permet de révéler des histoires dormantes et pourtant passionnantes et qui méritent d'être réveillé au grand jour.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-future-box">
                    <img class="mb-20" src="../../../../../assets/svg/ico-ship.svg" alt="icone d'un bateau en mer">
                    <h3>900 sauvetages</h3>
                    <p>C'est le nombre de sauvetages fait par ses femmes, homme et enfants qui ont fait preuve d'un courage sans faille.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-future-box">
                    <img class="mb-20" src="../../../../../assets/svg/ico-sea-waves.svg" alt="icone de vagues en pleine mer agitée">
                    <h3>270 ans</h3>
                    <p>Depuis 1740, les sauveteurs du dunkerquois recense les sauvetages en milieu aquatique.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Future Area -->