<!-- Start Team Area -->
<section class="team-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="top-title">Bateaux</span>
            <h2>Les plus beaux vaisseaux</h2>
        </div>

        <div class="team-slider">
            <owl-carousel-o [options]="teamSlidesOptions">
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/img/team/remorqueur-abeille.jpeg" alt="Image">
                        </div>
                        <div class="team-content">
                            <h3>Abeille</h3>
                            <span>Remorqueur</span>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/img/team/remorqueur-armine.jpeg" alt="Image">
                        </div>
                        <div class="team-content">
                            <h3>Armine</h3>
                            <span>Remorqueur</span>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/img/team/remorqueur-audacieux.jpeg" alt="Image">
                        </div>
                        <div class="team-content">
                            <h3>Audacieux</h3>
                            <span>Remorqueur</span>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/img/team/remorqueur-belier.jpeg" alt="Image">
                        </div>
                        <div class="team-content">
                            <h3>Belier</h3>
                            <span>Remorqueur</span>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/img/team/remorqueur-dunkerquois.jpeg" alt="Image">
                        </div>
                        <div class="team-content">
                            <h3>Dunkerquois</h3>
                            <span>Remorqueur</span>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-img">
                            <img src="assets/img/team/remorqueur-france.jpeg" alt="Image">
                        </div>
                        <div class="team-content">
                            <h3>France</h3>
                            <span>Remorqueur</span>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="text-center mt-20">
            <a routerLink="/blog-details" class="read-more">Je veux en voir plus</a>
        </div>
    </div>
</section>
<!-- End Team Area -->