.blog-img {
    img {
        max-height: 288px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.blog-date {
    font-family: 'Merriweather light italic', sans-serif;
}