<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Sauvetages</span>
            <h2>Les plus importants</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-img">
                        <a routerLink="/blog-details">
                            <img src="assets/img/blog/blog-boat-1.jpg" alt="Image">
                        </a>
                    </div>
                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="flaticon-user"></i>
                                <a routerLink="/blog-grid">Philippe Boutelier</a>
                            </li>
                            <li>
                                <i class="flaticon-calendar"></i>
                                27 Octobre 2020
                            </li>
                        </ul>
                        <span class="blog-date">14 Février 2003</span>
                        <h3><a routerLink="/blog-details">Jean Bart II</a></h3>
                        <p>Suite à la réception  du signal « MAYDAY » par un bateau anglais le..</p>
                        <a routerLink="/blog-details" class="read-more">En découvrir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-img">
                        <a routerLink="/blog-details">
                            <img src="assets/img/blog/blog-boat-2.jpg" alt="Image">
                        </a>
                    </div>
                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="flaticon-user"></i>
                                <a routerLink="/blog-grid">Philippe Boutelier</a>
                            </li>
                            <li>
                                <i class="flaticon-calendar"></i>
                                28 Octobre 2020
                            </li>
                        </ul>
                        <span class="blog-date">4 Janvier 1861</span>
                        <h3><a routerLink="/blog-details">Edward Everett</a></h3>
                        <p>Le navire américain EDWARD EVERETT commandant Rob.H Lambert..</p>
                        <a routerLink="/blog-details" class="read-more">En découvrir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-blog-post">
                    <div class="blog-img">
                        <a routerLink="/blog-details">
                            <img src="assets/img/blog/blog-boat-3.jpg" alt="Image">
                        </a>
                    </div>
                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="flaticon-user"></i>
                                <a routerLink="/blog-grid">Philippe Boutelier</a>
                            </li>
                            <li>
                                <i class="flaticon-calendar"></i>
                                29 Octobre 2020
                            </li>
                        </ul>
                        <span class="blog-date">31 décembre 1743</span>
                        <h3><a routerLink="/blog-details">Patriarche Jacob</a></h3>
                        <p>Le navire hollandais PATRIARCHE JACOB commandé par le capitaine..</p>
                        <a routerLink="/blog-details" class="read-more">En découvrir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a routerLink="/blog-details" class="read-more">Je veux en voir plus</a>
        </div>
    </div>
</section>
<!-- End Blog Area -->