<!-- Start Banner Area -->
<section class="banner-area jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12">
                        <div class="banner-content">
                            <span class="wow fadeInDown" data-wow-delay="1s">270 ans d'histoire</span>
                            <h1 class="wow fadeInDown text-white" data-wow-delay="1s">Bienvenue chez les sauveteurs du
                                dunkerquois</h1>
                            <p class="wow fadeInLeft text-white" data-wow-delay="1s">Ce site rend hommage aux femmes,
                                hommes et enfants qui ont réalisé des actes de sauvetages en milieu aquatique.
                                Ces sauveteurs, habitants du dunkerquois (de Bray-Dunes à Grand-Fort-Philippe), ont
                                participé à plus de 900 sauvetages en mer et plus de 1100 sauvetages individuels.
                                Œuvrant avec courage, abnégation et souvent au mépris du risque ils méritent amplement
                                que leurs actes soient pérennisés.</p>
                            <div class="banner-btn wow fadeInUp" data-wow-delay="1s">
                                <a routerLink="/contact-us" class="default-btn">Hisser la voile</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="banner-img">
                            <img src="assets/img/banner/banner-hero-3.jpg" alt="Image">
                            <div class="banner-shape-1">
                                <img src="assets/img/banner/banner-shape-1.png" alt="Image">
                            </div>
                            <ul>
                                <li><a href="#" target="_blank">Facebook</a></li>
                                <li><a href="#" target="_blank">Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->