<!-- Start Company Area -->
<section class="company-area bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="company-img">
                    
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="company-content ptb-100">
                    <span class="top-title">270 ans d'histoire</span>
                    <h2>Une histoire réveillé jusqu'en 1740</h2>
                    <p class="some-bold">Le site web "Les Sauveteurs du Dunkerquois" recense les sauvetages en milieu
                        aquatique depuis 1740 . Il est tenu et alimenté par Philippe Boutelier. On y trouve les récits
                        (circonstances, déroulement, etc.) des différents sauvetages opérés dans le monde par des
                        habitants de la région Dunkerquoise : secours porté en mer auprès de bateaux en détresse mais
                        aussi sauvetage de personnes tombées à l‘eau dans les limites du territoire de l’étude*.
                    </p>
                    <br>
                    <p>
                        Les pages du site synthétisent des informations sur les sauveteurs, les personnes sauvées, les
                        bateaux sauveteurs ou secourus. On y trouve également des données générales comme l’histoire du
                        sauvetage, les moyens techniques déployés, des données annexes ou de cadrage, etc. De plus,
                        d’autres sauveteurs (hors Dunkerquois) sont présents sur le site avec des fiches simplifiées.
                    </p>
                    <br>
                    <p>Toutes ces informations sont accessibles sous forme de pages rédigées. Il n'y a pas de base de
                        données structurée répertoriant ces informations et donc aucune possibilité simple de faire des
                        recherches sur, par exemple, le nom d'un sauveteur ou le nom d'un bateau échoué.
                    </p>
                    <a routerLink="/about-us" class="default-btn">En découvrir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Company Area -->