<!-- Start Footer Area -->
<footer class="footer-area bg-color pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img width="80%" src="assets/img/logo.svg" alt="Image">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact</h3>

                    <ul class="address">
                        <li>
                            <span>Téléphone:</span>
                            <a href="tel:+33"> (+33) 3 61 17 64 68</a>
                        </li>
                        <li>
                            <span>Email:</span>
                            <a href="mailto:sauveteurdudunkerquois@gmail.com">sauveteurdudunkerquois@gmail.com</a>

                        </li>
                        <li class="location">
                            <span>Addresse:</span>
                            471 avenue des Bancs de Flandres, Dunkirk, France
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" style="mpadding-left: 2rem">
                <div class="single-footer-widget">
                    <h3>Menu principal</h3>

                    <ul class="import-link">
                        <li><a routerLink="/">Accueil</a></li>
                        <li><a routerLink="/">Sauveteurs</a></li>
                        <li><a routerLink="/">Sauvetages</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Restez sur le pont</h3>
                    <p>Ne partez pas si vite matelot, restez au courant des dernières vagues.</p>

                    <form class="newsletter-form">
                        <input type="email" class="form-control" placeholder="Entrez votre adresse mail" name="EMAIL"
                               required autocomplete="off">
                        <button class="default-btn" type="submit">Je reste sur le pont</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copy-right-area bg-color">
    <div class="container text-center">
        <p>Copyright @2021 <strong>Sauveteurs du Dunkerquois</strong>.
    </div>
</div>
<!-- End Copy Right Area -->

<!-- Start Log In Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i class="bx bx-x"></i>
            </button>

            <div class="modal-body">
                <div class="container">
                    <div class="contact-form-action">
                        <div class="account-title">
                            <h2>Log In to Your Account</h2>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Email or Phone</label>
                                        <input class="form-control" type="text" #userName name="name">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" type="password" #userPassword name="password">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="login-action">
                                        <span class="log-rem">
                                            <input id="remember" type="checkbox">
                                            <label for="remember">Remember me!</label>
                                        </span>
                                        <span class="forgot-login">
                                            <a routerLink="/recover-password">Forgot your password?</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="default-btn" type="button"
                                            (click)="authService.SignIn(userName.value, userPassword.value)">Log In
                                    </button>
                                </div>
                                <div class="col-12">
                                    <p>Have an account? <a routerLink="/register">Registration Now!</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Log In Modal -->

<!-- Start Register Modal -->
<div class="modal fade" id="staticBackdrop-2" data-bs-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i class="bx bx-x"></i>
            </button>

            <div class="modal-body">
                <div class="container">
                    <div class="contact-form-action">
                        <div class="account-title">
                            <h2>Register Your Account</h2>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input class="form-control" type="email" #userEmail name="email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" type="text" #userPwd name="password">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="show">
                                        <input id="remember-1" type="checkbox">
                                        <label>Show password ?</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="default-btn register" type="button"
                                            (click)="authService.SignUp(userEmail.value, userPwd.value)">Register Now
                                    </button>
                                </div>
                                <div class="col-12">
                                    <p>Have an account? <a routerLink="/log-in">Login now!</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Register Modal -->
