<!-- Start Page Title Area -->
<div class="page-title-area bg-4">
    <div class="container">
        <div class="page-title-content">
            <h2>Nos sauveteurs</h2>
            <ul>
                <li><a routerLink="/">Archives</a></li>
                <li class="active">Nos sauvetages</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Team Area -->
<section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="get-quote" style="min-height: 100px">
                <a  class="default-btn" id="addSouveuteurButton" data-bs-toggle="modal" data-bs-target="#addSauveteur" style="float: right; margin: 0.5rem" *ngIf="authService.isLoggedIn">Ajouter</a>

            </div>
        </div>
        <div class="row">
            <div *ngFor="let sauveteur of sauveteurList" class="col-lg-4 col-md-6">
                <div class="single-team">
                    <div class="team-img">
                        <img src="assets/img/sauvetage.jpg" alt="Image">
                    </div>
                    <div class="team-content">
                        <h3>{{sauveteur.NOM}} {{sauveteur.PRENOM}}</h3>
                        <span>{{sauveteur.DATE_DE_NAISSANCE}}
                            <div *ngIf="sauveteur.DATE_DE_MORT">-</div>
                            {{sauveteur.DATE_DE_MORT}}</span>
                        <p>{{sauveteur.FONCTION}}</p>
                    </div>
                    <div style="display: flex; text-align: center; align-items: center">
                        <a  (click)="delete(sauveteur) " class="default-btn" style="float: right; margin: 0.5rem" *ngIf="authService.isLoggedIn"><i class="fa fa-trash" aria-hidden="true"> Supprimer </i></a>
                        <a (click)="edit(sauveteur)" class="default-btn" style="float: right; margin: 0.5rem" *ngIf="authService.isLoggedIn"><i class="fa fa-edit"  aria-hidden="true"> Editer </i></a>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Team Area -->


<!-- Start Log In Modal -->
<div class="modal fade" id="addSauveteur" data-bs-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i class="bx bx-x"></i>
            </button>

            <div class="modal-body">
                <div class="container">
                    <div class="contact-form-action">
                        <div class="account-title">
                            <h2>Ajouter un sauveteur</h2>
                        </div>
                        <form  [formGroup]="sauveteurForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Patronyme</label>
                                        <input class="form-control"  type="text" name="patronyme" formControlName="patronyme">
                                    </div>

                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input class="form-control"  type="text" name="nom" formControlName="nom">
                                    </div>

                                    <div class="form-group">
                                        <label>Prénom</label>
                                        <input class="form-control"  type="text" name="prenom" formControlName="prenom">
                                    </div>

                                    <div class="form-group">
                                        <label>Date de naissance</label>
                                        <input class="form-control"  type="text" name="date_de_naissance" formControlName="date_de_naissance">
                                    </div>

                                    <div class="form-group">
                                        <label>Date de mort</label>
                                        <input class="form-control"  type="text" name="date_de_naissance" formControlName="date_de_mort">
                                    </div>

                                    <div class="form-group">
                                        <label>Fonction</label>
                                        <input class="form-control"  type="text" name="fonction" formControlName="fonction">
                                    </div>

                                    <div class="form-group">
                                        <label>Divers</label>
                                        <input class="form-control"  type="text" name="divers" formControlName="divers">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="default-btn" type="button" (click)="submit()">Ajouter
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Log In Modal -->

