<app-homeone-banner></app-homeone-banner>

<!-- <app-partner></app-partner> -->

<app-homeone-future></app-homeone-future>

<app-blog></app-blog>

<app-homeone-company></app-homeone-company>

<app-team></app-team>

<app-homeone-feedback></app-homeone-feedback>

<!-- <app-homeone-services></app-homeone-services> -->

<!-- <app-homeone-why-choose-us></app-homeone-why-choose-us> -->

<!-- <app-homeone-get-a-quote></app-homeone-get-a-quote> -->

<!-- <app-homeone-faq></app-homeone-faq> -->